/* Image source: https://i.ytimg.com/vi/vp_u_2Kpo4I/maxresdefault.jpg */
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5ef9d;
    background-image: url('https://i.ytimg.com/vi/vp_u_2Kpo4I/maxresdefault.jpg');
    background-size: cover;
}

h1 {
    color: white;
    font-size: 300%;
    margin-top: 40px;
    margin-bottom: -30px;
}
